.profile__edit-button {
  margin-right: 0;
  background: no-repeat center url(../../../images/edit_button.svg);
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
  
}

