.popup__container {
  width: 430px;
  height: 330px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
}