.profile {
  max-width: 880px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 880px) {
  .profile {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
.profile {
  max-width: 282px;
  margin: 0 auto 36px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
}