.elements {
  max-width: 880px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 1fr);
  gap: 17px;
  margin: 0 auto 66px;
}

@media screen and (max-width: 767px) {
  .elements {
    max-width: 282px;
    grid-template-columns: 282px;
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    margin: 64px auto 0;
  }
}