.popup__submit {
  width: 358px;
  height: 50px;
  background: #000000;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 20px auto 37px;
  padding: 0px;
  border: 0;
  border-radius: 2px;
}

.popup__submit:hover {
  opacity: 0.8;
  transition: opacity;
  cursor:pointer;
}

@media screen and (max-width: 767px) {
  .popup__submit {
    width: 238px;
    height: 46px;
    margin: 15px auto 25px;
    font-size: 14px;
    line-height: 17px;
  }
}