.profile__name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #FFFFFF;
  margin: 0 18px 16px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
  }

  @media screen and (max-width: 880px) {
    .profile__name {
      max-width: 200px;
    }
  }

  @media screen and (max-width: 767px) {
    .profile__name {
      font-size: 27px;
      line-height: 33px;
      text-align: center;
      color: #FFFFFF;
      margin: 0 10px 14px 46px;
      max-width: 189px;
      height: 27px;
    }
  }

