.profile__add-button {
  background: no-repeat center url(../../../images/add_button.svg);
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  min-width: 150px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
    margin: 0 auto 0;
    background-size: 16px 16px;
  }
}