@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/cursor-opacity/cursor-opacity.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/element/element.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/__photo/element__photo.css);
@import url(../blocks/element/__description/element__description.css);
@import url(../blocks/element/__name/element__name.css);
@import url(../blocks/element/__like-icon/element__like-icon.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/__subtitle/popup__subtitle.css);
@import url(../blocks/popup/__submit/popup__submit.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);

.border {
  outline: 1px solid palevioletred;
}















