.profile__info {
  /*
  max-width: 336px; */
  margin: auto 234px auto 30px; 
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  }

  @media screen and (max-width: 767px) {
    .profile__info {
      margin: 26px auto 36px;
      justify-content: center;
    }
  }