.popup__submit {
  width: 358px;
  height: 50px;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  padding: 0px;
}

.popup__submit:hover {
  opacity: 0.8;
  transition: opacity;
  cursor:pointer;
}

@media screen and (max-width: 767px) {
  .popup__submit {
    width: 238px;
    height: 46px;
    margin: 0px;
    font-size: 14px;
    line-height: 17px;
  }
}